:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #30333a;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.card {
  background-color: #4b4f59;
  margin: 5px 5px;
  padding: 2px 2px;
  position: relative;
  border-radius: 15px;
}

.container{
  margin-top : 15px;
}

.inner_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card_info h5 {
}
/* .card_info img.photo {
  width: 200px;
  height: 150px;
} */

.card_info {
  display: flex;
  flex-direction: column;
  justify-content: flex-between;
  align-items: center;
  width: 300px;
}

.card_info p {
  display: inline-block;
}

.profile_photo {
  width: 30px;
  border-radius: 25px;
}

.card_header {
  display: flex;
  align-items: center;
  gap: 10px;
}
.card_info p {
  font-weight: 100;
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.hover-block {
  opacity: 0;
}

.card:hover {
  transform: scale(1.1);
  background-color: #232529;
  border-style: solid;
  border-color: #04328c;
  z-index: 2;
}

.card:hover .hover-block {
  opacity: 1;
}

.likes {
  font-size: 10px;
}
